<template>
  <div class="left-panel">
    <button class="closePanel" v-on:click="closePanel()"><</button> 
    <p>I'm a left panel.</p>
  </div>
</template>

<script>
export default {
  name: 'left-panel',
  props: {
    msg: String
  },
  methods: {
    closePanel: function(event) {
      Array.prototype.forEach.call(document.getElementsByClassName("right-panel"), aMain => {
        aMain.style.marginLeft = "0px";
      })
      Array.prototype.forEach.call(document.getElementsByClassName("left-panel"), aSidePanel => {
        aSidePanel.style.width = "0px";
      });
    }
  }
}
</script>