<template>
  <div class="my-header">
    <button class="openPanel" v-on:click="openPanel()">></button>
  </div>
</template>

<script>
export default {
  name: 'my-header',
  props: {
    msg: String
  },
  methods: {
    openPanel: function(event) {
      Array.prototype.forEach.call(document.getElementsByClassName("right-panel"), aMain => {
        aMain.style.marginLeft = "400px";
      })
      Array.prototype.forEach.call(document.getElementsByClassName("left-panel"), aSidePanel => {
        aSidePanel.style.width = "400px";
      });
    }
  }
}
</script>