<template>
  <div class="right-panel">
    <img src="../images/smartpay-logo.svg" width="250px" class="logo" style="margin-top:40vh">
    <div class="response">
      <div v-if="loading" class="loading">
        <img src="../images/spinner.gif" class="spinner">
      </div>
      <div v-if="companies" class="companies" style="margin-left:65px;">
        <h2>Companies:</h2>
        <ul>
          <li v-for="company in companies" style="margin-left:-10px;">
            {{ company.Name }}
          </li>
        </ul>
      </div>
      <div v-if="error" class="error" style="color:red;">
        {{ error }}
        <button class="refresh-content" v-on:click="retrieveCompanies()">Refresh</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'right-panel',
  props: {
    msg: String
  },
  data() {
    return {
      loading: false,
      companies: null,
      error: null
    }
  },
  created() {
    this.retrieveCompanies();
  },
  methods: {
    retrieveCompanies() {
      var self = this;
      self.companies = self.error = null;
      self.loading = true;
      setTimeout(function() {
        axios.get('http://localhost:3000/companies').then((response) => {
          self.loading = false;
          self.companies = response.data;
        }).catch((error) => {
          self.loading = false;
          self.error = error;
          console.log(error);
        })
      }, 3000);
    }
  }
}
</script>