<template>
  <div id="myApp">
    <my-header />
    <div class="content">
      <left-panel />
      <right-panel />
    </div>
  </div>
</template>

<script>
import myHeader from './components/myheader.vue'
import leftPanel from './components/leftpanel.vue'
import rightPanel from './components/rightpanel.vue'

export default {
  name: 'myApp',
  components: {
    myHeader,
    leftPanel,
    rightPanel
  },
  meta: {
    title: "SmartPay Warm-up App"
  }
}
</script>

<style>
body {
  background-color: #F5F6F7;
  margin: 0px;
}

.closePanel {
  border: solid;
  border-width: 1px;
  margin: 10px 5px 5px 5px;
  position: absolute;
  right: 10px;
  height: 23px;
  background-color: white;
}

.my-header {
  background-color: white;
  height: 45px;
  overflow: hidden;
  box-shadow: 0px 0px 5px lightgray;
}

.logo, .spinner {
  animation-name: fadeIn;
  animation-duration: 3s;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: margin-left 1s;
}

.openPanel {
  border: solid;
  border-width: 1px;
  margin: 10px 5px 5px 5px;
  height: 23px;
  background-color: white;
}

.left-panel {
  margin-top: -45px;
  margin-left: -10px;
  height: 100%;
  width: 0;
  position: fixed;
  transition: 1s width;
  overflow-x: hidden;
  background-color: #2D4B8C;
  z-index: 1;
  white-space: nowrap;
}

.left-panel p {
  padding: 0px 0px 0px 20px;
  color: white;
  transition: 1s;
  display: block;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
</style>